@page "/CreateUser"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject IUserService userService;

<div class="card">
    <h3>Create User</h3>
    <div class="form-group field">
        <label>Username:</label>
        <input type="text" @bind="username" @bind:event="oninput"/>
    </div>
    <div class="form-group field">
            <label>Password:</label>
            <input type="text" @bind="password" @bind:event="oninput"/>
            @if (!string.IsNullOrEmpty(resultMessage))
            {
                <label style="color: @color">@resultMessage</label>
            }
        </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password))" class="acceptbtn">Create</button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private string name = "";
    private string resultMessage = "";
    private string color = "";

    private async Task Create()
    {
        resultMessage = "";

        try
        {
            await userService.CreateAsync(new UserCreationDto(username, password, name));
            username = "";
            password = "";
            name = "";
            resultMessage = "User successfully created!";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMessage = e.Message;
            color = "red";
        }
    }
}