@page "/ViewSpecificPost/{id:int}"
@using Domain.DTOs
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService

<div class="card">
    {
        <div class="container">
            <div class="row">
                <h3><strong>@postData.Title</strong></h3>
                <h3><strong>Posted by: </strong>@postData.OP.UserName</h3>
                <h6>@postData.Body</h6>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }
</div>
@code {
    [Parameter]
    public int Id { get; set; }

    private PostUpdateDto dto = null!;
    private string msg = "";
    private Post postData;
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            postData = await postService.GetByIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}